@tailwind base;
@tailwind components;
@tailwind utilities;

.delete-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.edit-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover {
  background-color: #1976D2;
}
